* {
    overflow-y: hidden;
}

h2, h3 {
    display: inline;
}

.barritaMini {
    margin-left: 30px;
}

h2 {
    margin-left: 50px;
}

p {
    margin-left: 60px;
}

.row {
    padding-right: 30px;
    margin-top: 70px;
}

.bannerTitulo {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 60px;
    height: 100%;
    background-color: #3d3a41;
    background: linear-gradient(to right, #312e34, #3d3a4152, rgba(61, 58, 65, 0));
    border-radius: 10px;
}
