<h1 class="barritaExp">Proyectos realizados</h1>
<div class="row">
  <div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-12 parte1">
      <ul>
        <li>
          <div>
            <h2 class="barrah2">To-do list drag and drop</h2>
            <p class="sangria">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam
              fugiat dolorem corporis voluptatem repellat rem maxime iure non
              accusamus, repellendus repudiandae omnis, ipsam quibusdam
              inventore. Maiores commodi vero a in!
            </p>
          </div>

          <div class="parte2">
            <a href="https://to-do-drag-n-drop-angular.netlify.app/" target="_blank"> <img src="../../../assets/tododragndrop.png" alt="To-do list Angular"> </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
