<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/profilephoto.png" class="img-fluid" id="fotoperfil"/>
  </div>

  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <h4 id="nombre">Nombre Apellido</h4>
    <p id="stack">Full Stack Developer</p>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1 id="about">Acerca de mí</h1>
      <p class="sangria">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
        quasi sapiente voluptatem est quibusdam velit, vel reprehenderit quam
        ipsam itaque quod nobis vitae error? Dicta modi autem ad nam magni.
      </p>
    </span>
  </div>

</div>
