.row {
    padding: 20px;
}

#nombre {
    font-weight: bold;
    margin-top: 7%;
    margin-left: 10px;
    text-align: center;
}

#stack {
    text-align: center;
}

#about {
    margin-top: 10px;
}

/*Foto de perfil*/

@media (min-width: 576px) {
    #fotoperfil {
        position: absolute;
        width: 15%;
        border-radius: 100%;
        top: 450px;
    }
}

@media (max-width: 575px) {
    #fotoperfil {
        position: absolute;
        width: 15%;
        border-radius: 100%;
        top: 43%;
        left: 43%;
    }
}

* {
    overflow-y: hidden;
}

.sangria {
    padding-left: 7px;
}