<div class="row">
    <h1 class="barritaExp">Hard and soft skills</h1>
  <div class="padAbajo text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="70"
      [radius]="100"
      [imageSrc]="'../../../assets/html.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [showSubtitle]="false"
      [outerStrokeGradient]="true"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="100"
      [outerStrokeColor]="'#C95307'"
      [outerStrokeGradientStopColor]="'#FCC67B'"
      [innerStrokeColor]="'#EFECFE'"
      [animation]="true"
      [clockwise]="false"
      [space]="4"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="padAbajo text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="80"
      [radius]="100"
      [imageSrc]="'../../../assets/CSS.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [showSubtitle]="false"
      [outerStrokeGradient]="true"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="100"
      [outerStrokeColor]="'#106BDB'"
      [outerStrokeGradientStopColor]="'#79CBE8'"
      [innerStrokeColor]="'#EFECFE'"
      [animation]="true"
      [clockwise]="false"
      [space]="4"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="padAbajo text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="65"
      [radius]="100"
      [imageSrc]="'../../../assets/js.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [showSubtitle]="false"
      [outerStrokeGradient]="true"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="100"
      [outerStrokeColor]="'#FCC033'"
      [outerStrokeGradientStopColor]="'#FCF19A'"
      [innerStrokeColor]="'#EFECFE'"
      [animation]="true"
      [clockwise]="false"
      [space]="4"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="55"
      [radius]="100"
      [imageSrc]="'../../../assets/githubskill.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [showSubtitle]="false"
      [outerStrokeGradient]="true"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="100"
      [outerStrokeColor]="'#4442B6'"
      [outerStrokeGradientStopColor]="'#A3A6DF'"
      [innerStrokeColor]="'#EFECFE'"
      [animation]="true"
      [clockwise]="false"
      [space]="4"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="77"
      [radius]="100"
      [imageSrc]="'../../../assets/reading.png'"
      [showImage]="true"
      [imageHeight]="120"
      [imageWidth]="120"
      [showSubtitle]="false"
      [outerStrokeGradient]="true"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="100"
      [outerStrokeColor]="'#BD0C59'"
      [outerStrokeGradientStopColor]="'#F18CB0'"
      [innerStrokeColor]="'#EFECFE'"
      [animation]="true"
      [clockwise]="false"
      [space]="4"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="padAbajo text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [radius]="100"
      [imageSrc]="'../../../assets/workgroup.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [showSubtitle]="false"
      [outerStrokeGradient]="true"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="100"
      [outerStrokeColor]="'#35969D'"
      [outerStrokeGradientStopColor]="'#99E8EA'"
      [innerStrokeColor]="'#EFECFE'"
      [animation]="true"
      [clockwise]="false"
      [space]="4"
      [animationDuration]="300"
    ></circle-progress>
  </div>
  
</div>
