.row {
    padding-right: 30px;
    margin-bottom: 70px;
}

.barritaMini {
    margin-left: 30px;
}

.padAbajo {
    padding-bottom: 30px;
}

.bannerTitulo {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 60px;
    height: 70px;
    background-color: #3d3a41;
    background: linear-gradient(to right, #312e34, #3d3a4152, rgba(61, 58, 65, 0));
    border-radius: 10px;
}

.margenArriba {
    margin-top: 50px;
}