<div class="row">
    <h1 class="barritaExp">Hard and soft skills</h1>
  <div class="padAbajo text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="70"
      [radius]="100"
      [imageSrc]="'../../../assets/html.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [showSubtitle]="false"
      [outerStrokeGradient]="true"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="100"
      [outerStrokeColor]="'#C95307'"
      [outerStrokeGradientStopColor]="'#FBAF46'"
      [innerStrokeColor]="'#EFECFE'"
      [animation]="true"
      [clockwise]="false"
      [space]="4"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="padAbajo text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="70"
      [radius]="100"
      [imageSrc]="'../../../assets/html.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [showSubtitle]="false"
      [outerStrokeGradient]="true"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="100"
      [outerStrokeColor]="'#C95307'"
      [outerStrokeGradientStopColor]="'#FBAF46'"
      [innerStrokeColor]="'#EFECFE'"
      [animation]="true"
      [clockwise]="false"
      [space]="4"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="padAbajo text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="70"
      [radius]="100"
      [imageSrc]="'../../../assets/html.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [showSubtitle]="false"
      [outerStrokeGradient]="true"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="100"
      [outerStrokeColor]="'#C95307'"
      [outerStrokeGradientStopColor]="'#FBAF46'"
      [innerStrokeColor]="'#EFECFE'"
      [animation]="true"
      [clockwise]="false"
      [space]="4"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="70"
      [radius]="100"
      [imageSrc]="'../../../assets/html.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [showSubtitle]="false"
      [outerStrokeGradient]="true"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="100"
      [outerStrokeColor]="'#C95307'"
      [outerStrokeGradientStopColor]="'#FBAF46'"
      [innerStrokeColor]="'#EFECFE'"
      [animation]="true"
      [clockwise]="false"
      [space]="4"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="70"
      [radius]="100"
      [imageSrc]="'../../../assets/html.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [showSubtitle]="false"
      [outerStrokeGradient]="true"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="100"
      [outerStrokeColor]="'#C95307'"
      [outerStrokeGradientStopColor]="'#FBAF46'"
      [innerStrokeColor]="'#EFECFE'"
      [animation]="true"
      [clockwise]="false"
      [space]="4"
      [animationDuration]="300"
    ></circle-progress>
  </div>


  
</div>
