.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container2 {
    justify-content: right;
}

#LogoAP {
    width: 150px;
}

img {
    width: 50px;
    margin-left: 4px;
    margin-right: 10px;
}

button {
    margin-right: 15px;
    margin-left: 4px;
    border-color: #57DCBE;
    border-width: medium;
    width: 100px;
    height: 46px;
}

/* Vista de celular */

@media (max-width: 575px) {
    
}